.page-content{
  display: flex;
  height: $page-content-height;
  margin: 0 auto;
  max-width: $site-max-width;
  padding: $large-space $space;//@large-space for top and bottom, $space for L and R
}

.page-content__sidebar{
  display: flex;
  padding-right: $large-space;
  width: $page-content-sidebar-width;

}

.page-content__main{
  display: flex;//sets height of main area equal to sidebar height
  width: $page-content-main-width;

}
